.wrapper {
  display: flex;
}

/* サイドバーのcss */

.side-bar {
  background-color: #253141;
  width: 200px;
  height: 100vh;
}

.side-bar-header {
  height: 80px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name a {
  font-size: 24px;
  color: #fafafa;
  text-decoration: none;
}

.menu {
  background-color: #2f3e51;
  height: calc(100vh - 80px);
  padding: 10px 20px 0 20px;
}

.menus a {
  padding: 20px 0 0 10px;
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

/* メイン（記録投稿）のcss */

.log {
  background-color: #ffffff;
  width: calc(100vw - 200px);
}

.log-header {
  height: 80px;
  padding: 0 40px;
}

.submission{
  background-color: #fafafa;
  height: calc(100vh - 80px);
  padding: 35px 40px 0;
}
