<div class="log-header">
  <div class="header-title">
    みんなの記録
  </div>
</div>

<div class="submission">

  <div class="submissions">
    <div class="upper-submission">
      <div class="submission-name">
        Tom
      </div>
      <div class="submission-date">
        2020/12/31
      </div>
    </div>
    <div class="medium-submission">
      <div class="submission-subject">
        国語
      </div>
    </div>
    <div class="lower-submission">
      <div class="submission-text">
        難しい
      </div>
    </div>
  </div>

  <div class="submissions">
    <div class="upper-submission">
      <div class="submission-name">
        Tom
      </div>
      <div class="submission-date">
        2020/12/31
      </div>
    </div>
    <div class="medium-submission">
      <div class="submission-subject">
        国語
      </div>
    </div>
    <div class="lower-submission">
      <div class="submission-text">
        難しい
      </div>
    </div>
  </div>

</div>
