<div class="side-bar-header">
  <div class="header-name">
    <a href="#">StudyLog</a>
  </div>
</div>

<div class="menu">
  <div class="menus">
    <a href="#">ログイン</a>
    <a href="#">新規登録</a>
  </div>
</div>
